<div class="vbox">
  <div class="hbox" *ngFor="let pc of privateChannels">
    <button mat-stroked-button color="primary"
     matBadge={{getMessageCountByChannelId(pc.id)}} matBadgePosition="after" matBadgeColor="accent"
     (click)="handleBtnStartPrivateChat($event, pc)"
     >
     Chat between {{pc.userFrom.username}} and {{pc.userTo.username}}
    </button>
  </div>
</div>
