<div class="vbox">
    <h1>
      Welcome to {{title}}  <span *ngIf="bcChannel">{{bcChannel.title}}</span>!
    </h1>
    <mat-accordion *ngIf="bcChannel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chat Infos
          </mat-panel-title>
          <mat-panel-description>
            Details of Chat ({{bcChannel.title}})
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p style="text-align: left">
          Owner:
          <button mat-button color="primary">{{bcChannel.owner.username}}</button>
        </p>

      </mat-expansion-panel>
    </mat-accordion>
    <div class="chat-container">
        <template #chatContainer>
        </template>
    </div>

    <div class="chat-footer">
        <mat-form-field>
          <input matInput type="text"  placeholder="Enter text and click enter" [(ngModel)]="inputText"
            (keydown)="handleKeydownInputText($event)"
            #inputTextEl
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>

  </div>
