div.vbox {
  display: flex;
  flex-direction: column;
}
div.hbox > button {
  width: 200px;
  height: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

div.hbox {
  margin: 10px;
  display: flex;
  flex-direction: row;
}
