<div class="hbox">
    <button mat-raised-button color="primary"
      (click)="handleBtnWriteMessage($event)"
      [disabled]="disableBtnCreateBroadcastChannel()"
    >
    create Broadcast Chat
    </button>
    <div class="vbox">
        <mat-form-field>
            <input matInput placeholder="Title of Channel"
            [(ngModel)]="broadcastChannelTitle"
            (keyup)="handleKeyup($event)" />
        </mat-form-field>
        <mat-chip-list>
            <mat-chip color="warn" selected *ngIf="titleStatus.length > 0">
                {{titleStatus}}</mat-chip>
        </mat-chip-list>
    </div>

  </div>
