div.vbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

div.vbox  > * {
  margin-top: 10px;
}

div.hbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


div.chat-container {
  width: 99%;
  height: 200px;
  border: 3px solid blue;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 5px;
}


div.chat-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.chat-footer  > .mat-form-field {
  width: 80%;
}

div.chat-footer > .mat-raised-button {
  width: 18%;
  height: 50px;
}
