
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="handlePageChangeEvent($event)">
</mat-paginator>

<div class="vbox">
  <ng-container  *ngFor="let user of users; let i = index">
      <app-user-row [users]=getUsers(i) *ngIf="i%3 === 0"></app-user-row>
  </ng-container>
</div>
