<div class="vbox">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              User Details
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="vbox" *ngIf="currentUser">
            <mat-form-field>
              <input matInput placeholder="Name" [(ngModel)]="currentUser.name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="currentUser.username">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="currentUser.email">
            </mat-form-field>
          </div>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-tab-group>
      <mat-tab label="Private Channels">
        <app-private-channel-tab></app-private-channel-tab>
      </mat-tab>
      <mat-tab label="Group Channels">
        <app-group-channel-tab></app-group-channel-tab>
      </mat-tab>
      <mat-tab label="Broadcast Channels">
        <app-broadcast-channel-tab></app-broadcast-channel-tab>
      </mat-tab>
    </mat-tab-group>
</div>

