<div class="vbox">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class="hbox">
    <h3>{{usersInChatroom}}</h3>
    <h3>{{chatStatus}}</h3>
  </div>
  <div class="chat-container">
      <template #chatContainer>
      </template>
  </div>

  <div class="chat-footer">
      <mat-form-field>
        <input matInput type="text"  placeholder="Enter text and click enter" [(ngModel)]="inputText"
          (keydown)="handleKeydownInputText($event)"
          #inputTextEl
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
  </div>

</div>
