<div class="hbox">
    <button mat-raised-button color="primary"
      (click)="handleBtnWriteMessage($event)"
      [disabled]="disableBtnCreateGroupChannel()"
    >
    create group Chat
    </button>
    <div class="hbox">
      <div class="vbox">
          <mat-form-field>
              <input matInput placeholder="Title of Channel"
              [(ngModel)]="groupChannelTitle"
              (keyup)="handleKeyup($event)" />
          </mat-form-field>
          <mat-chip-list>
              <mat-chip color="warn" selected *ngIf="titleStatus.length > 0">
                  {{titleStatus}}</mat-chip>
          </mat-chip-list>
      </div>
        <mat-selection-list #usersSelectionList>
            <mat-list-option *ngFor="let user of users">
              {{user.username}}
            </mat-list-option>
        </mat-selection-list>
    </div>

  </div>
