<div class="vbox">
    <div class="hbox" *ngFor="let bc of broadcastChannels">
      <button mat-stroked-button color="primary"
       matBadge={{getMessageCountByChannelId(bc.id)}} matBadgePosition="after" matBadgeColor="accent"
       (click)="handleBtnStartBroadcastChat($event, bc)"
       >
       Broadcast Channel {{bc.title}}
      </button>
    </div>
  </div>
