<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="logout()">CC2</button>
    <button mat-button (click)="customNavigator.showUserhomePage()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button [matMenuTriggerFor]="actions">
      <mat-icon>apps</mat-icon>
      <span>Actions</span>
    </button>

    <span class="custom-spacer"></span>
    <button mat-button *ngIf="currentUser"
      (click)="customNavigator.showUserhomePage()"
    >
      <mat-icon>perm_identity</mat-icon>
      <span>{{currentUser.name}}</span>
    </button>
    <!-- logout -->
    <button mat-button (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #actions="matMenu">
  <button mat-menu-item (click)="customNavigator.showAllUsersPage()">
    <mat-icon>extension</mat-icon>
    <span>All Users</span>
  </button>
  <button mat-menu-item (click)="customNavigator.showGroupChatPage()">
    <mat-icon>extension</mat-icon>
    <span>Group Chat</span>
  </button>

  <button mat-menu-item (click)="customNavigator.showPrivateChatPage()">
    <mat-icon>extension</mat-icon>
    <span>Private Chat</span>
  </button>

  <button mat-menu-item (click)="customNavigator.showBroadcastPage()">
    <mat-icon>extension</mat-icon>
    <span>Broadcast</span>
  </button>

</mat-menu>

