.custom-icon {
  padding: 0 14px;
}

.custom-spacer {
  flex: 1 1 auto;
}

span.avatar {
  cursor: pointer;
}

button.mat-button > .mat-icon {
  float: left;
}
button.mat-button > span {
  float: right;
}
