<div class="vbox">
    <div class="hbox" *ngFor="let gc of groupChannels">
      <button mat-stroked-button color="primary"
       matBadge={{getMessageCountByChannelId(gc.id)}} matBadgePosition="after" matBadgeColor="accent"
       (click)="handleBtnStartGroupChat($event, gc)"
       >
       Group Channel {{gc.title}}
      </button>
    </div>
  </div>
