/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



div.hbox {
  display: flex;
  flex-direction: column;
}

div.vbox {
  display: flex;
  flex-direction: row;
}
