<div class="hbox">
  <button mat-raised-button color="primary"
    (click)="handleBtnWriteMessage($event)"
  >
  write private message to:
  </button>
  <mat-form-field>
    <mat-label>Select a user</mat-label>
    <mat-select [(ngModel)]="selectedUser">
      <mat-option *ngFor="let user of users" [value]="user">
        {{user.username}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
